name: <Implementation Name> Test

on:
  pull_request_target:
    branches:
      - main
    paths:
      - 'implementations/<implementation>/**'

jobs:
  compatibility-hosted:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Save subgraph info
        run: |
          mkdir -p ./subgraph
          echo <implementation> > ./subgraph/subgraph_info
      - uses: actions/upload-artifact@v3
        with:
          name: subgraph
          path: subgraph/
          retention-days: 1


  pr-info:
    # make sure to update comment.yaml workflow to trigger execution based on this workflow
    uses: ./.github/workflows/save-pr-info.yaml
    with:
      pr_number: ${{ github.event.number }}
