name: <Implementation> Test

on:
  pull_request_target:
    branches:
      - main
    paths:
      - 'implementations/<implementation>/**'

jobs:
  compatibility:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Setup Environment
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
      - name: Install dependencies
        run: npm install
      - name: Compile supergraph
        run: npm run setup
      - name: Compatibility test
        run: npm run test <implementation>
        env:
          DEBUG: docker,test
          API_KEY_<IMPLEMENTATION>: ${{ secrets.API_KEY_<IMPLEMENTATION> }}
          URL_<IMPLEMENTATION>: ${{ secrets.URL_<IMPLEMENTATION> }}
      - name: Generate Results Summary
        run: |
          cat results.md
          cat results.md >> $GITHUB_STEP_SUMMARY
