aniso8601==7.0.0
certifi==2021.5.30
click==8.0.1
Flask==2.0.1
Flask-GraphQL==2.0.1
graphene==2.1.9
graphene-federation==0.1.0
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-server-core==1.2.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pip==21.2.3
promise==2.3
Rx==1.6.1
setuptools==52.0.0
six==1.16.0
Werkzeug==2.0.1
wheel==0.37.0
