aniso8601==9.0.1
click==7.1.2
Flask==2.0.1
graphene==3.1.1
# graphene-federation==3.0.0
graphene-federation @ git+https://github.com/graphql-python/graphene-federation.git@v3.0.1
graphql-core==3.2.3
graphql-relay==3.2.0
graphql-server==3.0.0b5
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.0.1
typing_extensions==4.3.0
Werkzeug==2.2.3
