name: Release Script

on:
  release:
    types: [ published ]

jobs:
  release-code:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    if: github.repository == 'apollographql/apollo-federation-subgraph-compatibility'

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'
      - name: Build and Test
        run: npm ci
      - name: Publish to NPM
        run: npm publish --access public --workspace packages/compatibility --workspace packages/script
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
