name: Release Script

on:
  release:
    types: [ published ]

jobs:
  release-code:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    if: github.repository == 'apollographql/apollo-federation-subgraph-compatibility'

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'
      - name: Build and Test
        run: npm ci
      - name: Update version
        run: |
          NEW_VERSION=$(echo "${GITHUB_REF}" | cut -d "/" -f3)
          echo "New version: ${NEW_VERSION}"
          npm version ${NEW_VERSION} --message "script release: ${NEW_VERSION}"
      - run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
