name: StepZen Test

on:
  pull_request_target:
    branches:
      - main
    paths:
      - 'implementations/stepzen/**'

jobs:
  compatibility-hosted:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Save subgraph info
        run: |
          mkdir -p ./subgraph
          echo stepzen > ./subgraph/subgraph_info
      - uses: actions/upload-artifact@v6
        with:
          name: subgraph
          path: subgraph/
          retention-days: 1

  pr-info:
    uses: ./.github/workflows/save-pr-info.yaml
    with:
      pr_number: ${{ github.event.number }}
