name: GraphQL Yoga Test

on:
  pull_request:
    branches:
      - main
    paths:
      - 'implementations/graphql-yoga/**'

jobs:
  compatibility:
    uses: ./.github/workflows/test-subgraph.yaml
    with:
      library: "graphql-yoga"
