name: Apollo Server Test

on:
  pull_request:
    branches:
      - main
    paths:
      - 'implementations/apollo-server/**'

jobs:
  compatibility:
    uses: ./.github/workflows/test-subgraph.yaml
    with:
      library: "apollo-server"