name: GraphQL for .Net Test

on:
  pull_request:
    branches:
      - main
    paths:
      - 'implementations/graphql-dotnet/**'

jobs:
  compatibility:
    uses: ./.github/workflows/test-subgraph.yaml
    with:
      library: "graphql-dotnet"