name: Express GraphQL Test

on:
  pull_request:
    branches:
      - main
    paths:
      - 'implementations/express-graphql/**'

jobs:
  compatibility:
    uses: ./.github/workflows/test-subgraph.yaml
    with:
      library: "express-graphql"