name: Test

on:
  pull_request_target:
    branches:
      - main
    paths:
      - 'src/**'
      - 'subgraphs/**'
      - '*.json'
      - '*.yaml'
      - '*.graphql'

jobs:
  build-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: generate matrix
        id: matrix
        run: |
          echo "::set-output name=matrix::$(ls implementations | jq -cnR '[inputs | select(. | test("^[a-z]"))]')"

  build:
    timeout-minutes: 60
    needs: build-matrix
    strategy:
      fail-fast: false
      matrix:
        name: ${{ fromJson(needs.build-matrix.outputs.matrix) }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
      - run: npm install
      - run: npm run setup
      - run: npm run test ${{ matrix.name }}
        env:
          DEBUG: docker,test
          API_KEY_APPSYNC: ${{ secrets.API_KEY_APPSYNC }}
          URL_APPSYNC: ${{ secrets.URL_APPSYNC }}
          URL_STEPZEN: ${{ secrets.URL_STEPZEN }}
      - run: cat results.md
      - name: results summary
        run: cat results.md >> $GITHUB_STEP_SUMMARY
