name: HotChocolate Test

on:
  pull_request:
    branches:
      - main
    paths:
      - 'implementations/hotchocolate/**'

jobs:
  compatibility:
    uses: ./.github/workflows/test-subgraph.yaml
    with:
      library: "hotchocolate"