name: Grafbase Test

on:
  pull_request:
    branches:
      - main
    paths:
      - 'implementations/grafbase/**'
  workflow_call:
    inputs:
      skip_pr_info:
        default: false
        description: Whether to skip saving PR info.
        required: false
        type: boolean

env:
  SKIP_PR: ${{ inputs.skip_pr_info || false }}

jobs:
  # compatibility:
  #   uses: ./.github/workflows/test-subgraph.yaml
  #   with:
  #     library: "grafbase"
  compatibility:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Setup Environment
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'
      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: Install dependencies and build
        run: npm install
      - name: Compatibility test
        run: npm run compatibility:test -- docker --compose implementations/grafbase/docker-compose.yaml --schema implementations/_template_library_/products.graphql --format markdown
      - name: Generate Results Summary
        run: |
            cat results.md >> $GITHUB_STEP_SUMMARY
            echo "RESULTS_FILE=results.md" >> $GITHUB_ENV
      - name: Upload Results
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.RESULTS_FILE }}
          path: ./${{ env.RESULTS_FILE }}
          retention-days: 1


  pr-info:
    uses: ./.github/workflows/save-pr-info.yaml
    if: env.SKIP_PR != true
    with:
      pr_number: ${{ github.event.number }}
