name: GraphQL Kotlin Test

on:
  pull_request:
    branches:
      - main
    paths:
      - 'implementations/graphql-kotlin/**'

jobs:
  compatibility:
    uses: ./.github/workflows/test-subgraph.yaml
    with:
      library: "graphql-kotlin"